.center-text {
  text-align: center;
}

h1{
  text-align: center;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.tag-search-container {
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

.columns{
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0rem;
}

.card{
  margin-top: 12px;
  margin-bottom: 12px;
}

.popup{
  margin-top: 0px;
  margin-bottom: 0px;
}

.tags-input {
  width: 100%;
}

.tag {
  user-select: none;
  cursor: pointer;
}

#dark-mode-toggle-container {
  position: absolute;
  top: 12px;
  right: 12px;
}

/* bulma overrides */
.has-text-grey-lighter::placeholder {
  color: #7a7a7a !important
}

/* comms */

.m {
  margin: 12px;
}

.mt {
  margin-top: 12px;
}

.ml {
  margin-left: 12px;
}

/* responsiveness */

@media screen and (max-width:768px) {
  .column {
    padding: 0rem
  }
}
